body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url("../images/embossed-diamond.png");
}

#page{
    position: relative;
    min-height: 100vh;
}

#wrapper{
    padding-bottom: 100px;
}

.content{
    border: 2px solid #dddddd;
    background-color: #ffffff;
}

/*Headers and header bar*/
h1, h2, h3, h4, h5{
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    color: #4aaaa5;
    font-weight: bold;
}


hr.title-bar{
    border: 2px solid #dddddd
}

/*Colors and sizes*/
.bg-teal{
    background-color: #4aaaa5;
    color: #ffffff;
    border-radius: 0;
}

.bg-footer{
    background-color: #666666;
}

.bg-white{
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom: 1px solid;
}

.font-grey{
    color: #777777;
}

input.font-grey, textarea.font-grey{
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
}

.w-15{
    width: 15%;
}


/*Portfolio*/
.card-label{
    position: relative;
    line-height: 250%;
    width: 100%;
    top: 66%;
    font-weight: normal;
}

.card-col{
    padding: 25px 20px 25px 15px;
}

.card-col ~ .card-col{
    padding: 25px 15px 25px 20px;
}

/*Footer*/
#footer{
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    border-top: 10px solid #4aaaa5;
}

#footer span{
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
}

/*Overwrite the normal bootstrap max width for large screen to keep the content less than 960px*/
@media (min-width: 1200px){
    .container {
        max-width: 960px!important;
    }
}